

<div mdbModal #registerModal="mdbModal" class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="Register Modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="registerModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input mdbInput [(ngModel)]="username" type="text" id="form-username" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form-name">Your username</label>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input mdbInput [(ngModel)]="email" type="email" id="form-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input mdbInput [(ngModel)]="password" type="password" id="form-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" (click)="register()">Sign up</button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button type="button" class="btn btn-sm btn-info btn-rounded" data-toggle="modal"
    (click)="registerModal.show()">Register</button>
</div>