<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">

  <mdb-navbar-brand><a class="navbar-brand" href="#">QuickLook</a></mdb-navbar-brand>
  <links>
    <app-login></app-login>
    <app-register></app-register>
    <div class="btn-group" mdbDropdown>


        <i class="fas fa-list-ul" mdbDropdownToggle></i>
    
        <div class="dropdown-menu dropdown-primary">
          <app-login></app-login>
          <app-register></app-register>
        </div>
      </div>
  </links>
</mdb-navbar> -->
<app-login></app-login>
<app-register></app-register>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" href="#">QuickLook</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!sessionService.isLoggedIn()">
        <a class="nav-link waves-light" mdbWavesEffect (click)="showLogin()">
          <i class="fas fa-fingerprint"></i>
          Login
        </a>
      </li>

      <li class="nav-item" *ngIf="!sessionService.isLoggedIn()">
        <a class="nav-link waves-light" mdbWavesEffect (click)="showRegister()">
          <i class="fas fa-user-plus"></i>
          Register
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="sessionService.isLoggedIn()">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="router.navigate(['bookmarks'])">
            Bookmarks
          </a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="sessionService.logout()">Log out</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->