<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">QuickLook</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <ul class="navbar-nav mr-auto w-100">
      <li class="search-container">
        <input 
          [(ngModel)]="searchedContent"
          (keyup.enter) = "onSearch()"
          type="search" id="search" 
          class="form-control input-lg"
          placeholder="What are you searching?">
      </li>
      <li>
        <img src="assets/images/search.png" 
          alt="search" class="ml-3 search-icon"
          (click)="onSearch()">
      </li>
    </ul>
  </links>

  <!-- Collapsible content -->
  <app-login></app-login>
  <app-register></app-register>

</mdb-navbar>
<!--/.Navbar-->