
 <input type="text" class="form-control input-lg" id="searchedContent" required [(ngModel)]="searchedContent"
 name="searchedContent">
        <!-- <div class="input-group">
            <input type="text" class="form-control input-lg" id="searchedContent" required [(ngModel)]="searchedContent"
                name="searchedContent">

            <div class="input-group-append justify-content-center">
                <div (click)="onSearch()">
                    <img class="in-search" src="../../../assets/images/small-logo.png">
                </div>

            </div>

        </div> -->

       