.input-group.md-form.form-sm.form input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: 1px solid #bdbdbd;
    background-color : white;
}

.search-icon {
    max-width: 39px;
}

.jumbotron {
    height: 100vh;
    display: flex;
    align-items: center;
}

img {
    width: 400px;
}

.search-container {
    margin-bottom: 40vh;
}

.input-group {
    width: 80%;
    margin: auto;
}