<ul *ngIf="paginator.pages && paginator.pages.length" class="pagination">
    <li [ngClass]="{disabled:paginator.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:paginator.currentPage === 1}">
        <a (click)="setPage(paginator.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of paginator.pages" 
        [ngClass]="{active:paginator.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:paginator.currentPage === paginator.totalPages}">
        <a (click)="setPage(paginator.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:paginator.currentPage === paginator.totalPages}">
        <a (click)="setPage(paginator.totalPages)">Last</a>
    </li>
</ul>


<nav aria-label="Results pagination">
    <ul class="pagination pagination-circle pg-blue justify-content-center">
        <li [ngClass]="{disabled:paginator.currentPage === 1}"
            class="page-item">
            <a (click)="setPage(paginator.currentPage - 1)" class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
        </li>
        <li *ngFor="let page of paginator.pages" 
            [ngClass]="{active:paginator.currentPage === page}"
            class="page-item">
            <a (click)="setPage(page)" class="page-link" mdbWavesEffect>{{page}}</a>
        </li>
        <li [ngClass]="{disabled:paginator.currentPage === totalPages}"
            class="page-item">
            <a (click)="setPage(paginator.currentPage + 1)" class="page-link" mdbWavesEffect>Next</a>
        </li>
    </ul>
</nav>