
@import "~ng-pick-datetime/assets/style/picker.min.css";

.bg-gray {
    background-color: #F9F9F9!important;
}

.btn {
    border-radius: 40px;
}

.pointer {
    cursor: pointer;
}

.fs-13 {
    font-size: 13px;
}